<form method="POST" action="/new_post">
Title: <input type="text" name="new_post_title">
<br> Text: <input type="text" name="new_post_text">
<br> Category:
Tampa <input type="radio" name="new_post_category" value="Tampa">
Jacksonville<input type="radio" name="new_post_category" value="Jacksonville">
Miami <input type="radio" name="new_post_category" value="Miami">

<br> Author: <input type="text" name="new_post_author">
<button type="submit">Create New Post</button>
</form>
