<form method="POST" action="/new_post">
Title: <input type="text" name="new_post_title">
<br> Text: <input type="text" name="new_post_text">
<br> Category:
March <input type="radio" name="new_post_category" value="March">
April<input type="radio" name="new_post_category" value="April">
May <input type="radio" name="new_post_category" value="May">

<br> Author: <input type="text" name="new_post_author">
<button type="submit">Create New Post</button>
</form>
